* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(background_image.jpg);
    width: 100%;
    height: 100%;
}

.div1{
    width: 98%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: solid red;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: rgba(11, 11, 11, 0.4);
      
}
.div2 {
    height: 100px;
    width: 100%;
    border: solid blue;
    color: white;
    text-align: center;

}

.içdiv {
    border: solid purple;
    height: 1000px;
    width: 40%;
    display: flex;
    flex-direction: column;

}

input[type="text"] {
    width: 400px;
    height: 50px;

}

h1 {
    display: inline-block;
    font-size: 60px;
}

p {
    font-size: 23px;
}

form {
    width: 75%;
    background-color: rgba(11, 11, 11, 0.9);
    padding-left: 20px;
    padding-top: 10px;
    margin-left: 40px;
    height: 900px;
    border: solid yellow;
    color: white;
    display: flex;
    flex-direction: column;
  
}

label {
    font-size: 20px;
}

.movie {
    display: flex;
    flex-direction: column;
    display: inline-block;
}
button {
    text-align: center;
    height:30px ;
    width: 100px;
    background-color: chocolate;
    border: none;
    border-radius: 20px;
   
}

