* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(background_image.jpg);
    width: 100%;
    height: 100%;
    align-items: flex-end;
}

.div1{
    width: 97%;
    height: 680px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: solid red;
    
    
}
.div2 {
    height: 150px;
    width: 100%;
    background-color: black;
    width: auto;
    border: solid blue;
    color: white;
}

.div3 {
    height: 530px;
    width: 100%;
    border: solid yellow;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.içdiv {
    border: solid purple;
    height: 680px;
    width: 40%;
}

input[type="text"] {
    width: 300px;
    height: 50px;
}

